* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
.list-1 {
    background-color: white;
    width: 300px;
}
ul li {
    position: relative;
}
ul li a {
    font-size: 20px;
    text-decoration: none;
}

ul li a:hover {
    color: red;
    background-color:aliceblue ;
}

ul li ul.list-2 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 99;
    display: none;
   
}

ul li:hover ul.list-2 {
    display:inline;
}
